# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

temp/
test/
go_build_jz_scaffold.exe
cache/
docs/
nul
.idea
.vscode
config.json